.all-elem {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.div-style {
    display: block;
}

.h4-style {
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
    color: inherit;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.box-style {
    position: relative;
    padding: 0 15px 0 15px;
    min-height: 1px;
}

.background-green {
    background-color: #00a65a !important;
}

.background-red {
    background-color: #dd4b39 !important;
}

.badge-style {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.console_info_container_style {
    background: #ffffff;
    height: fit-content;
    border-top: 3px solid #d2d6de;
    position: absolute;
    box-shadow: 0 0 5px #ccc;
    left: 0;
    right: 0;
    margin: 0 auto 20px auto;
    border-radius: 3px;
    z-index: 1003;
}

.console_info_close_style {
    position: absolute;
    top: 10px;
    right: 15px;
    border: 0;
    padding: 0;
    background: 0 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    opacity: .2;
    z-index: 2;
}

#console_info_back {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1002;
    background: rgba(255, 255, 255, .6);
}

#console_info_line {
    margin: -6px -15px 6px -15px;
    border-top: 1px solid #ddd;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.console-info-border-r {
    border-right: 1px solid #d2d6de;
}

.console-info-memory-text {
    background-color: transparent;
    font-weight: bold;
    color: #ff851b
}

.circular {
    position: fixed;
    z-index: 2000;
    top: 300px;
    right: 15px;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    cursor: pointer;
}

.circular-animation{
    transition: .3s;
}

.circular-out {
    transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transition: .3s;
}

.select_container {
    position: absolute;
    top: -3rem;
    right: .3rem;
}


.ul-tabs-box {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.ul-tabs {
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid #f4f4f4;
    padding-left: 0;
    list-style: none;
}

.ul-tabs:after{
    clear: both;
    display: table;
    content: ' ';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ul-tabs-box > .ul-tabs > li.active {
    border-top-color: #3c8dbc;
}

.ul-tabs-box > .ul-tabs > li {
    border-top: 3px solid transparent;
    margin: 0 5px -2px 0;
    float: left;
    position: relative;
    display: block;
}

.ul-tabs > li.active > a {
    background-color: #fff;
    border-left-color: #f4f4f4;
    border-right-color: #f4f4f4;
    color: #444;
}

.ul-tabs > li:first-of-type.active>a{
    border-left-color: transparent;
}

.ul-tabs > li > a {
    background: transparent;
    margin: 0;
    border-radius: 0;
    line-height: 1.42857143;
    border: 1px solid transparent;
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #444;
}


#console_info_memory_chart,
#console_info_cpu_chart,
#console_info_diskusage_chart,
#console_info_loadavg_chart {
    height: 320px;
}

.console_info_container_box {
    width: 91.66666667%;
}

@media (min-width: 768px) {
    .console_info_container_box {
        width: 75%;
    }

    .charts_box {
        width: 100%;
        float: left;
    }
}

@media (min-width: 992px) {
    .console_info_container_box {
        width: 75%;
        float: left;
    }

    .charts_box {
        width: 50%;
        float: left;
    }

    .font_box {
        width: 100%;
        float: left;
    }
}


@media (max-width: 768px) {
    #console_info_memory_chart,
    #console_info_cpu_chart,
    #console_info_diskusage_chart,
    #console_info_loadavg_chart {
        height: 370px;
    }
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-m3 {
    margin-top: -3px;
}

.fontsize-18 {
    font-size: 18px;
}


.state-tab-content>.state-tab-pane{
    display: none;
}

.show{
    display: block!important;
}

.charts-box-info{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #00c0ef;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}


